<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388179869926-dmn867rkr0a5c3o7e2kpora3cpg6i936.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388179869926-dmn867rkr0a5c3o7e2kpora3cpg6i936</string>
	<key>API_KEY</key>
	<string>AIzaSyB0eggeWqU9A9LfkC0qqQubu4H4yZ0vMzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>388179869926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.earnestAssignment</string>
	<key>PROJECT_ID</key>
	<string>earnest-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>earnest-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388179869926:ios:ca40f74518b47fa5dbbb27</string>
</dict>
</plist>